
#title {
    display:flex;
    justify-content:center; 
    background-color:#FF9900;
    color:#F0F0F0;
    padding:12px;
    border: 0px 0px;
    margin:0px;
    font-size:42px
}


#div-selectors {
    height:10%;
    width:100%;  
    display:flex; 
    padding:0%; 
    justify-content: space-between;
}
     
.selector {
    width:33%;
    background-color:silver;
    padding:1%;
    padding:0%;
    align-items:end;
    border: 1px solid black;

}

.h3-selector {
    margin:1.5px 3px;
}

#div-graphs {
    width:100%;
    padding-top:30px;
}

#principal-graph {
    width:80%;
}


